<form id="form_query" action="/range" method="post" htmp replace=results>
    <label for="field">Field</label>
    <input type="text" name="field" id="field" required>
    <label for="from_type">Lower bound type</label>
    <select id="from_type" name="from_type" required>
        <option value="unbounded">Unbounded</option>
        <option value="included">Inclusive</option>
        <option value="excluded">Exclusive</option>
    </select>
    <label for="values">Lower bound value</label>
    <input type="text" name="from_value" id="from_value">
    <label for="to_type">Upper bound type</label>
    <select id="to_type" name="to_type" required>
        <option value="unbounded">Unbounded</option>
        <option value="included">Inclusive</option>
        <option value="excluded">Exclusive</option>
    </select>
    <label for="values">Upper bound value</label>
    <input type="text" name="to_value" id="to_value">
    <button type="submit">Run query</button>
</form>
