{#
Params
    selected_form   Form fragment to include
#}

<aside id="aside">
    <h3>Read operations</h3>
    <ul>
        {% with href="/find", text="Find" %}
            <li>{% include "frag_aside_link.html.j2" %}</li>
        {% endwith %}
        {% with href="/range", text="Range" %}
            <li>{% include "frag_aside_link.html.j2" %}</li>
        {% endwith %}
    </ul>
    <h3>Write operations</h3>
    <ul>
        {% with href="/upsert", text="Upsert" %}
            <li>{% include "frag_aside_link.html.j2" %}</li>
        {% endwith %}
        {% with href="/delete", text="Delete" %}
            <li>{% include "frag_aside_link.html.j2" %}</li>
        {% endwith %}
    </ul>

    {% include selected_form %}
</aside>
