<form id="form_query" action="/upsert" method="post" htmp replace=results>
    <label for="values">Values (one per line)</label>
    <textarea name="values" id="values" required></textarea>
    <button type="submit">Run query</button>
</form>
