{#
Params
    error       Error message to display
    container   (optional) id for a div to wrap the error message in
#}

{% if container %}
<div id="{{ container }}">
{% endif %}

<h2>Error</h2>
{{ error }}

{% if container %}
</div>
{% endif %}
