{% extends "base.html.j2" %}

{% block content %}
<div id="container">
    {% include "frag_aside.html.j2" %}

    <main id="main">
        {% include "frag_results.html.j2" %}
    </main>
</div>
{% endblock %}
