:root {
    --blue: rgb(30, 99, 248);
    --red: #d42f2f;
    --yellow: #ff9800;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --gray: #666;
    --light-gray-1: #f2f2f2;
    --light-gray-2: #f8f6ff;
    --gold-trans: #ffcd0455;

    --font-family: "Inclusive Sans", sans-serif;
}

@font-face {
    font-family: "Inclusive Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/InclusiveSans-Regular.ttf) format("woff2");
}

html {
    font-family: var(--font-family) !important;
    font-size: 16px;
}

body {
    padding: 10px;
    margin: 0 auto;
    line-height: 24px;
}

#messages {
    max-height: 60vh;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 8px;
    display: flex;
    flex-direction: column-reverse;
}

h1 {
    margin-bottom: 40px;
}

h1 a {
    color: var(--black);
    text-decoration: none;
}

h1:hover a {
    border-bottom: 2px dotted var(--blue);
    text-decoration: none;
}

textarea,
input {
    font-family: var(--font-family);
    font-size: 16px;
}

button,
input[type="submit"] {
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    text-shadow: none;
    box-shadow: none;
    padding: 5px 8px;
    border: 0;
    background-color: var(--blue);
    color: var(--white);

    margin-top: 20px;
}
