<aside id="aside">
    <h3>Read operations</h3>
    <ul>
        <li><a href="/find" htmp replace=form_query>Find</a></li>
        <li><a href="/range" htmp replace=form_query>Range</a></li>
    </ul>
    <h3>Write operations</h3>
    <ul>
        <li><a href="/upsert">Upsert</a></li>
        <li><a href="/delete">Delete</a></li>
    </ul>

    {% include selected_form %}
</aside>
