<form id="form_query" action="/range" method="post" htmp replace=results>
    <label for="field">Field</label>
    <input type="text" name="field" id="field" required>
    <label for="values">From...</label>
    <input type="text" name="from" id="from" required>
    <label for="values">...To</label>
    <input type="text" name="to" id="to" required>
    <button type="submit">Run query</button>
</form>
