<form id="form_query" action="/delete" method="post" htmp replace=results>
    <label for="field">Field</label>
    <input type="text" name="field" id="field" required>
    <label for="value">Value</label>
    <input type="text" name="value" id="value" required>
    <button type="submit">Run query</button>
</form>
