<form action="/find" method="post" htmz replace=main>
    <label for="field">Field</label>
    <input type="text" name="field" id="field" required>
    <label for="values">Values</label>
    <input type="text" name="values" id="values" required>
    <button type="submit">Run query</button>
</form>
